body {
	width: 100%;
	overflow-X: hidden;
}

.app-container {
	width: 95%;
	margin: 0 auto;
}

@mixin hyperlinks {
	font-family: 'montserrat-regular';
	text-transform: uppercase;
	font-size: 1.1em;
}
